body {
	font-family: sans-serif;
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 7px;
	width: 100vw;
}

.progress {
	position: relative;
	height: 20px;
	width: 100vw;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 15px;
	overflow: hidden;
}
  
.progress div {
	background-color: lightgreen;
	color: white;
	height: 100%;
	text-align: center;
}

.progress span {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}